*{
    margin: 0;
    padding: 0;
}
/* body{
    margin: 0 0.5rem 0 0.5rem;
} */
 
.container{
    height: 100vh;
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
}


input{
    background-color: gray;
    outline: none;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.4rem 1.5rem;
    color: white;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.3);
}
input:hover{
    border:none;
    background-color: antiquewhite;
    color: black;
}
input::placeholder {
    color: white;
}

.navigation{
    width: 100%;
    background-color: antiquewhite;
}

.navigation nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0.5rem 1rem;   
}
.navigation a,
.navigation svg{
    /* background-color: gainsboro; */
    border-radius: 50%;
    padding: 0.4rem 0.5rem;
    text-align: center;
}
.navigation a:hover,
.navigation svg:hover{
    background-color: white;
    cursor: pointer;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: calc(1rem-12px);
}
.nav-left svg{
    height: 3rem;
    width: 3rem;
}
.nav-middle{
    display: flex;
    gap: 4rem;
}
.nav-middle svg{
    height: 2rem;
    width: 2rem;
}
.right{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}
.right a{
    width: 1rem;
}
.profile-nav,
.nav-menue{
    margin-right: 0.4rem;
}
.profile-nav a:hover{ 
    background-color: unset;
}
.left-navigation{
    background-color: beige;
    height: 88vh;
    width: 20%;
    padding-top: 2rem;
}
.left-navigation-wrapper{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    align-items: flex-start;
}
.left-navigation-icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.left-navigation-icons i{
    font-size: 1.5rem;
}
.left-navigation-text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

main{
    width: 60%;
    background-color: bisque;
}

.story-wrapper{
    
}
.story-image{
    height: 8rem;
    width: 6rem;
}
.story-image img{
    height: 100%;
    width: 100%;
    object-position: center;
}
