* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradint-color: #751d28;
  --dark-bgc: #1c2123;
  --button-primary-color: #b86216;
  --button-secondary-color: #ef3d5b;
  --button-third-color: #57b957;
}
.rubika-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  outline: none;
}
a:hover {
  color: var(--button-primary-color);
  border-bottom: 1px solid var(--button-primary-color);
}
i {
  cursor: pointer;
  color: white;
  font-size: 18px;
}
i:hover {
  color: blue;
}
img {
  height: 100%;
  width: 100%;
}
.landing {
  background: url(../images/about-bgc-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  padding: 0 12rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.01);
  align-items: center;
  padding-top: 2rem;
  z-index: 10;
  position: sticky;
  top: 0;
}
.left-nav {
  display: inline-flex;
  gap: 3rem;
}
.logo {
  height: 50px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.logo img {
  object-position: center;
  object-fit: cover;
}
.logo img:hover {
  cursor: pointer;
}
.nav-right {
  display: flex;
  gap: 3rem;
}
.icons {
  display: inline-flex;
  gap: 1rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.overlay {
  font-weight: bolder;
}
.overlay-text {
  margin-top: 5rem;
  font-size: 70px;
  padding: 5rem 10rem;
  border: 20px solid white;
  border-left: transparent;
  border-right: transparent;
}

.have-it{
  background-color: var(--dark-bgc);
  padding-top: 8rem;
  position: relative;
}
.have-it hr{
  border: 2px solid var(--button-primary-color);
}
.have-it-top{
  color: var(--button-primary-color);
  padding: 0 1rem;
  font-weight: bolder;
  background-color: var(--dark-bgc);
  position: absolute;
  top: 7.5rem;
  left: 45%;
}
.have-it-wrapper{
  margin-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.have-it-left strong{
  font-size: 80px;
  font-weight: bolder;
  display: block;
  line-height: 7rem;
}
.colored-text{
  color: var(--button-third-color);
}

.have-it .big-text{
  font-size: 150px;
}
