* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gradint-color: #751d28;
  --dark-bgc: #1c2123;
  --button-primary-color: #dc9457;
  --button-secondary-color: #ef3d5b;
  --button-third-color: #57b957;
}
.rubika-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  outline: none;
}
a:hover {
  color: var(--button-primary-color);
  border-bottom: 1px solid var(--button-primary-color);
}
i {
  cursor: pointer;
  color: white;
  font-size: 18px;
}
i:hover {
  color: blue;
}
img {
  /* height: 100%; */
  height: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  background-color: #1c2123;
  padding: 0 10rem;
}
.big-text {
  font-size: 60px;
  font-weight: bolder;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.left-nav {
  display: inline-flex;
  gap: 3rem;
}
.logo {
  height: 50px;
  width: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.logo img {
  object-position: center;
  object-fit: cover;
}
.logo img:hover {
  cursor: pointer;
}
.nav-right {
  display: flex;
  gap: 3rem;
}
.icons {
  display: inline-flex;
  gap: 1rem;
}
.hero {
  padding-top: 4rem;
}
.hero h1 {
  text-align: center;
  padding: 3rem 0;
  border: 16px solid var(--button-primary-color);
  border-left: transparent;
  border-right: transparent;
}

.price-list {
  padding-top: 4rem;
}
.about {
  text-align: center;
  color: var(--button-primary-color);
  line-height: 2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.about span {
  display: block;
}

.list {
  margin-top: 5rem;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7rem;
}
.burger {
  height: 150px;
  width: 250px;
}
.item-left {
  display: flex;
  gap: 8rem;
  align-items: flex-start;
}
.item-title {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 1rem;
}
.detail {
  text-transform: uppercase;
  width: 400px;
}
.price {
  font-weight: bolder;
  font-size: 30px;
  color: var(--button-primary-color);
}

.burger-types {
  padding-top: 4rem;
  position: relative;
}

.burger-types hr {
  border: none;
  border-top: 3px solid var(--button-primary-color);
}
.original {
  position: absolute;
  top: 3.5rem;
  left: 40rem;
  color: var(--button-primary-color);
  padding: 0 0.5rem;
  background-color: var(--dark-bgc);
  font-weight: bolder;
}
.type-wrapper {
  display: flex;
  gap: 15rem;
}
.types {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.type-title {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 10px;
}
.indrigients {
  color: gray;
}
.types .price {
  font-size: 20px;
}
.styled-item {
  border: 1px solid var(--button-primary-color);
  border-radius: 5px;
}
.styled-item strong {
  background-color: var(--button-primary-color);
  width: 100%;
  display: block;
}
.styled-item strong,
.type-wrapper {
  padding: 1rem;
}

.order {
  background-color: var(--dark-bgc);
  position: relative;
  padding: 4rem 10rem 8rem 10rem;
}

.order-wrapper {
  display: flex;
  background-color: #fff;
  color: #1c2123;
}
.order-wrapper .first {
  font-size: 30px;
  display: block;
  text-decoration: underline;
  text-underline-offset: 6px;
  padding-bottom: 10px;
}
.order-wrapper strong {
  font-size: 40px;
  font-weight: bolder;
}
.order-middle ,
.order-right{
  padding: 7rem 3rem;
}
.order-right {
  background-color: whitesmoke;
}
.order-left figure {
  /* width: 400px; */
  /* height: 100%; */
}
.text-wrap {
  padding-bottom: 3rem;
}
.detail {
  padding-bottom: 1rem;
  font-size: 14px;
  text-transform: capitalize;
  width: 300px;
  line-height: 1.5rem;
  /* padding: 0 1rem; */
}
.btn {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 800;
  border: transparent;
  border-radius: 10px;
  background-color: var(--button-primary-color);
  color: white;
  cursor: pointer;
}
.secondary-btn {
  background-color: var(--dark-bgc);
}

.present {
  display: flex;
  width: 100%;
  background-color: #fff;
}
.present hr {
  border: none;
  border-top: 3px solid black;
}
.present-title {
  position: absolute;
  top: 7rem;
  left: 20rem;
  background-color: #fff;
  padding: 0 1rem;
  font-size: 30px;
  font-weight: bolder;
}
.present-right {
  color: #1c2123;
  width: 50%;
  padding: 4rem 6rem 6rem 6rem;
  position: relative;
}
.present-left {
  width: 50%;
  height: 800px;
}
.present-left figure {
  width: 100%;
  height: 100%;
}

.present-left figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.view-menues {
  background-color: var(--button-secondary-color);
}
.prestnt-right-wrapper {
  padding-top: 4rem;
}
.present-right-content {
  margin-top: 5rem;
  text-align: center;
}
.top-big {
  font-size: 40px;
  color: var(--button-secondary-color);
  margin-bottom: 1rem;
}
.top-big strong {
  color: #1c2123;
  font-weight: 900;
  font-size: 70px;
}
.top-big span {
  display: block;
  font-weight: 800;
}

.middle {
  font-weight: bold;
  margin-bottom: 2rem;
}
.last {
  line-height: 1.5rem;
  margin-bottom: 3rem;
}
.dark-bgc {
  background-color: #1c2123;
}

.dark-bgc hr {
  border: none;
  border-top: 3px solid white;
}
.dark-bgc p {
  color: white;
  background-color: #1c2123;
}
.dark-bgc p strong {
  color: white;
  display: block;
}
.dark-bgc .olive{
  color: #57b957;
}
.dark-bgc button {
  background-color: #57b957;
}

.ice {
  background-color: var(--button-secondary-color);
}
.text {
  text-align: center;
  padding-top: 10rem;
  text-transform: uppercase;
}
.text span {
  border-bottom: 2px solid white;
  font-size: 50px;
  margin-right: 5px;
  font-weight: bold;
  padding-bottom: 5px;
}
.text strong {
  font-size: 60px;
  font-weight: 900;
}

.mail {
  padding-top: 8rem;
  padding-bottom: 4rem;
  position: relative;
}
.mail-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.mail-left p {
  width: 300px;
  text-align: end;
  font-size: 20px;
}

.mail-right input {
  height: 55px;
  width: 300px;
  border-radius: 10px;
  outline: 1px solid var(--button-primary-color);
}

input::placeholder {
  padding: 1rem;
}

#mail-btn {
  background-color: var(--button-primary-color);
  margin-left: 10px;
}
.mail hr {
  border: none;
  border-top: 2px solid var(--button-primary-color);
  margin-bottom: 6rem;
}
.sub {
  color: var(--button-primary-color);
  font-size: 25px;
  background-color: #1c2123;
  padding: 0 1rem;
  position: absolute;
  top: 7rem;
  left: 45%;
}
.footer-container {
  margin: 0 auto;
  background-color: #fff;
}
.footer-content {
  color: #1c2123;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 400px;
  height: 50px;
  margin-top: 10rem;
  margin-bottom: 3rem;
  object-fit: contain;
  object-position: center;
}
.wrapper {
  display: flex;
  gap: 10rem;
  line-height: 2rem;
}
.footer-strong span {
  display: block;
}
.footer-strong {
  margin-top: 50px;
}
.left span {
  display: block;
}
.left p {
  margin-bottom: 1rem;
}
.footer-trad {
  color: #1c2123;
  margin-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-trad-right strong {
  font-size: 60px;
  font-weight: bold;
}
