* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-button-color: #82b440;
  --header-bg-color: #262626;
  --bg-color-dark: #ff497c;
  --btn-primaru: #3577f0;
  --bg-color-secondary: #f9f3f0;
  --bg-color-chance: #f6f7fb;
}
main {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
.btn {
  border: none;
  padding: 10px 20px;
  background-color: gainsboro;
  color: white;
  text-align: center;
  cursor: pointer;
}
.container {
  background-color: var(--bg-color-secondary);
  /* height: 100vh; */
}
header {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  z-index: 1000;
}
header figure {
  height: 2rem;
  width: 9rem;
}
header figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header-btn {
  padding: 0.5rem 2rem;
  background-color: var(--header-button-color);
  border-radius: 10px;
}
.header-btn:hover {
  background-color: #82b440f1;
}
.container {
  z-index: 10;
  margin-top: -19px;
  padding-top: 10px;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 10rem 0 10rem;
  background-color: var(--bg-color-secondary);
}
.top-nav-left p {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}
.fa-angle-down {
  font-size: 10px;
  color: gray;
}

.top-nav-right a {
  margin-left: 2.5rem;
  color: gray;
}
.top-nav-right a:hover {
  color: var(--btn-primaru);
}

nav {
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem 0 5rem;
  border-radius: 0.9rem;
  width: 80vw;
  margin: 0 auto;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 7rem;
  z-index: 1000;
}
.pages-link a {
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 600;
}
.pages-link a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}
.pages-link a i {
  color: var(--header-bg-color);
}
.icons i {
  margin-left: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.icons i:hover {
  background-color: var(--bg-color-dark);
  color: white;
  border-radius: 50%;
}

.hero {
  display: flex;
  padding: 10rem 10rem 0 10rem;
  height: 100vh;
}

.hero-left {
  padding-top: 9rem;
}
.deal {
  color: var(--bg-color-dark);
}
.fa-fire {
  background-color: var(--bg-color-dark);
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
}
h1 {
  width: 500px;
  height: 144px;
  font-size: 60px;
  margin-right: 50px;
  font-weight: 900;
}
.hero-bottom {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.shop {
  height: 4rem;
  width: 10rem;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.852);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.shop:hover {
  transform: scale(1.05);
}
.fa-cart-shopping {
  padding-right: 5px;
}

.user {
  margin-left: -25px;
  border: 2px solid white;
  border-radius: 50%;
}
.ratings i {
  color: orange;
}
.rating {
  display: flex;
  gap: 10px;
}
.review {
  margin-top: 5px;
  font-size: 14px;
}
.hero-right {
  position: relative;
  padding-top: 4rem;
}
.product-image {
  width: 500px;
  height: 550px;
}
.product-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.product-rate {
  position: absolute;
  top: 170px;
  left: 140px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-last {
  margin-top: 400px;
}
.hero-last figure {
  height: 120px;
  width: 170px;
}
.hero-last img {
  height: 100%;
  width: 100%;
}

.categories-wrapper {
  padding: 5rem 10rem 0 10rem;
}

.title {
  color: var(--bg-color-dark);
}
.browse {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-size: 38px;
  font-weight: bold;
}
.arrows .fa-solid {
  padding: 10px 20px;
  background-color: rgb(223, 217, 217);
  transition: transform 0.3s ease-in-out;
}
.arrows .fa-solid:hover {
  background-color: rgba(223, 217, 217, 0.823);
  color: gray;
  transform: scale(1.05);
}
.arrows {
  display: inline;
}
.fa-arrow-left-long {
  margin-right: 20px;
}

.categories {
  margin-top: 50px;
  display: flex;
  gap: 14px;
}
.cat-item {
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 1px 1px 20px 7px rgba(233, 225, 225, 0.4);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}
.cat-item:hover {
  transform: scale(1.05);
}
.cat-item figure {
  height: 60px;
  width: 100px;
}
.cat-item figure img {
  height: 100%;
  width: 100%;
}
.cat-item p {
  text-align: center;
  margin-top: 20px;
}

.chance {
  margin: 10rem 10rem 0 10rem;
  background-color: var(--bg-color-chance);
  padding: 40px 80px;
  display: flex;
  gap: 100px;
  position: relative;
  height: 400px;
}
.chance h3 {
  width: 500px;
  margin-top: 40px;
  line-height: 40px;
}
.circles {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.circle {
  padding: 20px 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 40px;
}
.chance-btn {
  background-color: var(--btn-primaru);
  border-radius: 5px;
  padding: 5px 10px;
  height: 40px;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}
.chance-btn:hover {
  transform: scale(1.05);
}

.chance-img {
  position: absolute;
  bottom: 10px;
}
.product-section {
  margin: 10rem 10rem 0 10rem;
}
.products {
  display: flex;
  justify-content: space-between;
}
.wrapper-product > p {
  color: #8c71db;
  margin-bottom: 20px;
}
.wrapper-product > p i {
  padding: 10px;
  border-radius: 50%;
  background-color: #8c71db;
  color: white;
  margin-right: 10px;
}
.prod-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}
.prod-card {
  margin-bottom: 15px;
}
.product-info {
  margin-top: 15px;
}

.prod {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  background-color: var(--bg-color-chance);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  /* transition: 0.3s ease-in-out; */
}
.prod:hover {
  transition: 0.3s ease-in-out;
}

.prod1 {
  background-image: url(../images/product-02.png);
  position: relative;
}
.prod2 {
  background-image: url(../images/product-05.png);
}
.prod3 {
  background-image: url(../images/product-06.png);
  position: relative;
}
.prod4 {
  background-image: url(../images/product-05.png);
}

.prod1:hover {
  background-image: url(../images/poster-03.png);
  /* transition: all 0.5s ease; */
}
.prod2:hover {
  background-image: url(../images/product-02.png);
  /* transition: all 0.5s ease; */
}
.prod3:hover {
  background-image: url(../images/product-05.png);
  /* transition: all 0.5s ease; */
}
.prod4:hover {
  background-image: url(../images/product-01.png);
  /* transition: all 0.5s ease; */
}

.discount {
  position: absolute;
  top: 40px;
  right: -15px;
  background-color: var(--btn-primaru);
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 8px 7px 8px 0px #3576f0a7;
}

.hidden {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
  left: 10px;

  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.hidden-btn {
  background-color: var(--bg-color-dark);
  border-radius: 5px;
}
.hidden i {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--bg-color-dark);
}
.prod:hover .hidden {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease-in-out;
}
.prod-detail p {
  font-size: 18px;
}
.price del {
  color: gray;
}
.ratings,
.prod-title,
.price,
.options {
  margin-bottom: 10px;
}
.prod-detail {
  margin-top: 20px;
}
.rating {
  color: orange;
  display: inline;
}
.ratings span {
  margin-left: 10px;
}
.options {
  margin-left: 30px;
}
.options i:nth-child(1) {
  font-size: 12px;
  color: #3577f0;
  padding: 4px;
  border: 1px solid #6794e8;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 20px;
}
.options i {
  color: #82b440;
  border: none;
  font-size: 8px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-all {
  padding: 20px 100px;
  border-radius: 5px;
  color: #262626;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.view-all:hover {
  transform: scale(1.05);
}
.feedback {
  padding: 5rem 10rem 4rem 10rem;
  margin-top: 5rem;
  background-color: var(--bg-color-secondary);
}
.message-wrapper {
  margin-top: 60px;
  display: flex;
  gap: 30px;
}
.message > p {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: justify;
  margin-bottom: 60px;
}
.person {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.person figure {
  height: 50px;
  width: 80px;
}
.person figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid rgb(154, 98, 98);
}
.p-det {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post {
  color: gray;
}
.new-arrival {
  padding: 4rem 10rem 0 10rem;
  background-color: #f6f7fb;
}
.new-arrival .product {
  margin-bottom: 20px;
}
.arrival-btn {
  border: none;
  padding: 10px 20px;
  color: white;
  transition: transform 0.3s ease-in-out;
}
.new-arrival-wrapper {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
}
.figure-container:hover .image {
  transform: scale(1.1);
}
.new-arrival figure {
  height: 250px;
  width: 250px;
  background-color: gray;
  border-radius: 50%;
}
.new-arrival figure img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.new-arrival-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.arrival-icons i {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 10px;
  color: #82b440;
  border: 1px solid #f6f7fb;
  padding: 5px;
  text-align: center;
}
.arrival-icons i:hover {
  border-radius: 50%;
  background-color: white;
  border-color: #82b440;
}
.arrival-title {
  margin-bottom: 10px;
}
.arrival-price {
  color: gray;
  font-size: 25px;
  font-weight: bold;
}
.arrival-bottom i,
.arrival-bottom .arrival-btn {
  margin-left: 10px;
}
.arrival-bottom i {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.arrival-btn:hover {
  transform: scale(1.02);
}

.most-sold {
  padding: 6rem 10rem 0rem 10rem;
  background-color: #f6f7fb;
}
.text-wrapper {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.text-wrapper p i {
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: #6794e8;
  border-radius: 50%;
}
.text-wrapper > p {
  color: #6794e8;
}
.text-wrapper h4 {
  font-size: 25px;
  margin-top: 20px;
}
.sold-item-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border-bottom: 2px solid rgba(220, 220, 220, 0.789);
  padding-bottom: 5rem;
}
.sold-item figure {
  height: 100px;
  width: 100px;
  background-color: gainsboro;
  border-radius: 20px;
}
.item-figure {
  height: 100%;
  width: 100%;
  object-position: center;
}
.sold-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  transition: transform 0.4s ease-in;
}
.sold-item:hover .item-figure {
  transform: scale(1.1);
}
.sold-item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stars i {
  margin-bottom: 5px;
  font-size: 10px;
}
.ratings span {
  font-size: 14px;
  color: gray;
  font-weight: bolder;
  margin-left: -2px;
}
.sold-item-details .title {
  font-size: 14px;
  color: gray;
  font-weight: bolder;
  margin-bottom: 5px;
}
.sold-item-details del {
  font-size: 14px;
  color: gray;
  font-weight: bolder;
  margin-left: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.right i {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.why-us {
  padding: 3rem 10rem 0 10rem;
}
.top-text {
  text-align: center;
  margin-bottom: 6rem;
}
.top-text p {
  color: var(--bg-color-dark);
  margin-bottom: 30px;
}
.top-text i {
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 5px;
  color: white;
  background-color: var(--bg-color-dark);
  border-radius: 50%;
}
.selection-reason-container {
  display: flex;
  gap: 25px;
}
.selection-region {
  background-color: #fff;
  border: 1px solid gainsboro;
  text-align: center;
  padding: 40px 60px 40px 60px;
  /* padding-left: 60px;
  padding-right: 60px; */
  border-radius: 10px;
}
.selection-region:hover {
  position: relative;
  bottom: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.selection-region p {
  width: 100px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  line-height: 25px;
}

.special {
  padding: 5rem 10rem 0 10rem;
  display: flex;
  gap: 80px;
}

.banner-left {
  background-color: #173c74;
  position: relative;
  border-radius: 10px;
}

.banner-right {
  background: #061d2e;
  position: relative;
  border-radius: 10px;
}
.banner-left,
.banner-right {
  width: 700px;
}
.banner-circle {
  background: linear-gradient(rgb(233, 5, 5), rgb(5, 5, 210));
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  top: 95px;
  right: 40px;
}
.banner-img {
  height: 150px;
  position: absolute;
  top: 100px;
  right: 40px;
  transition: transform 0.5s ease-out;
}
.banner-left:hover .banner-img,
.banner-right:hover .banner-img {
  top: 130px;
  transform: scale(1.5);
}
.banner-content {
  width: 300px;
  color: white;
  text-align: end;
  padding: 50px 0px 50px 30px;
}
.banner-content h2 {
  font-size: 40px;
  color: white;
}
.banner-right .banner-content h2 {
  margin-bottom: 20px;
}
.collectons {
  color: white;
}
.banner-content p {
  margin-bottom: 30px;
}
.last {
  background-color: #d9dde9;
  padding: 0rem 10rem 0 10rem;
  margin-top: 5rem;
  height: 100px;
}
