* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-button-color: #82b440;
  --header-bg-color: #262626;
  --bg-color-dark: #ff497c;
  --btn-primaru: #3577f0;
  --bg-color-secondary: #f9f3f0;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
.btn {
  border: none;
  padding: 10px 20px;
  background-color: gainsboro;
  color: white;
  text-align: center;
  cursor: pointer;
}
.container {
  background-color: var(--bg-color-secondary);
  height: 100vh;
}
header {
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
}
header figure {
  height: 2rem;
  width: 9rem;
}
header figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header-btn {
  padding: 0.5rem 2rem;
  background-color: var(--header-button-color);
  border-radius: 10px;
}
.header-btn:hover {
  background-color: #82b440f1;
}
.container {
  padding: 5rem 10rem 0 10rem;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.top-nav-left p {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}
.fa-angle-down {
  font-size: 10px;
  color: gray;
}

.top-nav-right a {
  margin-left: 2.5rem;
  color: gray;
}
.top-nav-right a:hover {
  color: var(--btn-primaru);
}

nav {
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-radius: 0.9rem;
  position: sticky;
  top: 5rem;
}
.pages-link a {
  margin-right: 3rem;
  font-size: 1rem;
  font-weight: 600;
}
.pages-link a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid black;
}
.pages-link a i {
  color: var(--header-bg-color);
}
.icons i {
  margin-left: 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.31s ease-in-out;
}

.icons i:hover {
  background-color: var(--bg-color-dark);
  color: white;
  border-radius: 50%;
}

.hero {
  padding-top: 5rem;
  display: flex;
}

.hero-left {
  padding-top: 8rem;
}
.deal {
  color: var(--bg-color-dark);
}
.fa-fire {
  background-color: var(--bg-color-dark);
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
}
h1 {
  width: 500px;
  height: 144px;
  font-size: 60px;
  margin-right: 50px;
  font-weight: 900;
}
.hero-bottom {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.shop {
  height: 4rem;
  width: 10rem;
  text-align: center;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.852);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}
.shop:hover {
  transform: scale(1.05);
}
.fa-cart-shopping {
  padding-right: 5px;
}

.user {
  margin-left: -25px;
  border: 2px solid white;
  border-radius: 50%;
}
.ratings i {
  color: orange;
}
.rating {
  display: flex;
  gap: 10px;
}
.review {
  margin-top: 5px;
  font-size: 14px;
}
.hero-right {
  position: relative;
}
.product-image {
  width: 500px;
  height: 550px;
}
.product-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.product-rate {
  position: absolute;
  top: 100px;
  left: 150px;
  height: 90px;
  width: 90px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-last {
  margin-top: 350px;
}
.hero-last figure {
  height: 120px;
  width: 170px;
}
.hero-last img {
  height: 100%;
  width: 100%;
}

.categories-wrapper {
  padding: 5rem 10rem 0 10rem;
}
.categories-wrapper > p {
  color: var(--bg-color-dark);
}
.browse {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.browse h3 {
  font-size: 38px;
  font-weight: bold;
}
.arrows .fa-solid {
  padding: 10px 20px;
  background-color: rgb(223, 217, 217);
}
.arrows .fa-solid:hover{
  background-color: rgba(223, 217, 217, 0.823);
  color: gray;
}
.arrows {
  display: inline;
}
.fa-arrow-left-long {
  margin-right: 20px;
}

.categories {
  margin-top: 50px;
  display: flex;
  gap: 14px;
}
.cat-item {
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 1px 1px 20px 7px rgba(233, 225, 225, 0.4);
  border-radius: 4px;
}
.cat-item:hover {
  transform: scale(1.05);
}
.cat-item figure {
  height: 60px;
  width: 100px;
}
.cat-item figure img {
  height: 100%;
  width: 100%;
}
.cat-item p{
  text-align: center;
  margin-top: 20px;
}
